body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 2px;
    background-color: #f4f4f4;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 39px;
    padding: 30px;
    margin: 30px;
    border: 2px dashed #070000;
}
.card {
    background-color: #fff;
    border: 3px solid #1a06f4;
    padding: 30px;
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}
.circle {
    width: 80px;
    height: 80px;
    background-color: #044fa9;
    border-radius: 51%;
    line-height:80px;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 15px;
}